name: Maven central publish (1.8.1)

on:
  push:
    branches:
      - main
      - master
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Zulu JDK 7
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '7'
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: temurin
          cache: maven
          gpg-private-key: ${{ secrets.GPG_KEY }}
          gpg-passphrase: GPG_PASSWORD
          server-id: central
          server-username: CENTRAL_TOKEN_USERNAME
          server-password: CENTRAL_TOKEN_PASSWORD

      - name: Prepare release
        run: ./mvnw -B -Pdeploy deploy
        env:
          CENTRAL_TOKEN_USERNAME: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          CENTRAL_TOKEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          GPG_PASSWORD: ${{ secrets.GPG_PASSWORD }}

